.container {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 450px;
}

.content {
  width: 400px;
  padding: 10px 20px;
  height: 40px;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
}
